apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
 name: shipping
 namespace: roboshop
spec:
 scaleTargetRef:
   apiVersion: apps/v1
   kind: Deployment
   name: shipping
 minReplicas: 1
 maxReplicas: 10
 targetCPUUtilizationPercentage: 20 # usually 75 in real environment